.arbeiten {
	background: linear-gradient(170deg, #00a4c2, #017d93);
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 42.5px;
	height: 90vh;
	justify-content: center;
	text-align: center;
	gap: var(--spacer-3xl);
}
