.description {
	background: linear-gradient(to right, rgba(50, 53, 53, 0.47), rgba(50, 53, 53, 0.47)),
		url(../../assets/happy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.container {
	padding: 200px 42.5px 200px 42.5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: var(--spacer-xl);
}
.image {
	width: 300px;
	height: fit-content;
}
.heading{
  text-align: end;
}
.subHeading {
	font-size: 36px;
	text-align: end;
}
.buttonContainer {
	display: flex;
	gap: var(--spacer-xl);
}
